UI--MessageItemWidgetWrapper * {
	color: white;
	border: none;
}

UI--MessageItemWidgetWrapper UI--Message {
	border: none;
	border-radius: 5px;
}

UI--MessageItemWidgetWrapper#current_user * {
	background-color: #0000FF;
}

UI--MessageItemWidgetWrapper#other_user * {
	background-color: #7B68EE;
}